<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>

	<nav th:replace="fragments/nav" />

	<!-- Barra de Navegación superior -->

	<div class="container">
		<h2 th:text = "#{addSaleWindow.message}"></h2>
		<form class="form-horizontal" method="post" action="/sale/add"
			th:object="${sale}">
			<fieldset>
				<div class="form-group">
					<label class="control-label col-sm-2" for="titulo" th:text = "#{addSaleTitle.message}"></label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="titulo"
							th:field="${sale.title}" placeholder="Disco: AC/DC" required="true" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="detalles" th:text = "#{saleDetails.message}"></label>
					<div class="col-sm-10">
						<input type="text" class="form-control" name="detalles"
							th:field="${sale.details}" placeholder="Perfecto estado, seminuevo..." required="true" />
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="precio" th:text = "#{salePrice.message}"></label>
					<div class="col-sm-10">
						<input type="number" class="form-control" name="precio" min="1"
							th:field="${sale.price}" placeholder="Mayor que 0" required="true" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-primary" id="buttonUpload" th:text = "#{upload.message}" ></button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>
